body{
    background-color: black;    
}

h1{ 
    color: blueviolet; 
    font-size: 50px; 
    text-align: center; 
    font-family: monospace; 
}

p{
    color: azure;
    font-size: 20px;
    text-align: center;
}

a{
    color: aliceblue;
    font-size: 35px; 
    font-family: Helvetica, sans-serif;
}

#box1{
    width: 300px;
    height: 100px;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    line-height: 100px;
}

#box1:hover{
    animation: agrandar 0.5s forwards;
}

#box1 a{
  height: 100px;
  display: block;
}

#box2{
    width: 300px;
    height: 100px;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    line-height: 100px;
}

#box2:hover{
    animation: agrandar 0.5s forwards;
}

@keyframes agrandar {
    to{
        width: 320px;
        height: 120px;
        line-height: 120px;
    }
}

#box2 a{
    height: 100px;
    display: block;
}

#box3{
    width: 300px;
    height: 100px;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    line-height: 100px;
}

#box3:hover{
    animation: agrandar 0.5s forwards;
}

#box3 a{
    height: 100px;
    display: block;
}

.contendor {
    display:flex;
    align-items: center;
    justify-content: center;
}